examples/led-dog/node-red/flows.json
[{"id":"85b60300.bde1a","type":"tab","label":"dog eyes","disabled":false,"info":""},{"id":"c031c1c6.cec518","type":"tab","label":"dog tie","disabled":false,"info":""},{"id":"8e4a59bc.f589c","type":"tab","label":"animations","disabled":false,"info":""},{"id":"ae980bff.e64a78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77293117.a8a4b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1561a345.e0333d","type":"ui_tab","z":"","name":"Leds","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"26c96747.7fadf8","type":"ui_group","z":"","name":"dog eyes","tab":"1561a345.e0333d","order":1,"disp":true,"width":"6","collapse":false},{"id":"d22b4bfe.c74c28","type":"ui_group","z":"","name":"dog tie","tab":"1561a345.e0333d","order":2,"disp":true,"width":"6","collapse":false},{"id":"a6cd3f84.be655","type":"ui_spacer","name":"spacer","group":"d22b4bfe.c74c28","order":7,"width":"6","height":1},{"id":"4ca2227f.506ecc","type":"ui_spacer","name":"spacer","group":"d22b4bfe.c74c28","order":3,"width":"6","height":1},{"id":"ce1afaca.5036f8","type":"ui_group","z":"","name":"dog animations","tab":"1561a345.e0333d","order":3,"disp":true,"width":"6","collapse":false},{"id":"4dbd5f41.e5d53","type":"ui_button","z":"85b60300.bde1a","name":"","group":"26c96747.7fadf8","order":2,"width":0,"height":0,"passthru":false,"label":"Colors","tooltip":"","color":"","bgcolor":"","icon":"","payload":"colors","payloadType":"str","topic":"","x":90,"y":80,"wires":[["41a59529.886a0c"]]},{"id":"41a59529.886a0c","type":"mqtt out","z":"85b60300.bde1a","name":"","topic":"dog/anim","qos":"","retain":"","broker":"77293117.a8a4b","x":360,"y":120,"wires":[]},{"id":"af5dd862.7153","type":"ui_button","z":"85b60300.bde1a","name":"","group":"26c96747.7fadf8","order":1,"width":0,"height":0,"passthru":false,"label":"Wink","tooltip":"","color":"","bgcolor":"","icon":"","payload":"wink","payloadType":"str","topic":"","x":90,"y":160,"wires":[["41a59529.886a0c"]]},{"id":"67792db7.cd3fb4","type":"mqtt out","z":"85b60300.bde1a","name":"eye leds","topic":"dog/leds/rgb/set","qos":"","retain":"","broker":"77293117.a8a4b","x":680,"y":420,"wires":[]},{"id":"daf1e8.789a2e18","type":"change","z":"85b60300.bde1a","name":"left","rules":[{"t":"change","p":"payload","pt":"msg","from":"^(.*)$","fromt":"re","to":"1 $1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["67792db7.cd3fb4"]]},{"id":"f06d18d4.f3ef","type":"change","z":"85b60300.bde1a","name":"right","rules":[{"t":"change","p":"payload","pt":"msg","from":"^(.*)$","fromt":"re","to":"2 $1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["67792db7.cd3fb4"]]},{"id":"49885b10.6a912c","type":"ui_colour_picker","z":"85b60300.bde1a","name":"","label":"Left","group":"26c96747.7fadf8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":320,"wires":[["13ea2c9d.bcead3"]]},{"id":"13ea2c9d.bcead3","type":"delay","z":"85b60300.bde1a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":320,"wires":[["daf1e8.789a2e18"]]},{"id":"3048b452.b4134c","type":"ui_colour_picker","z":"85b60300.bde1a","name":"","label":"Right","group":"26c96747.7fadf8","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":6,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":440,"wires":[["5e73dc73.da797c"]]},{"id":"5e73dc73.da797c","type":"delay","z":"85b60300.bde1a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":440,"wires":[["f06d18d4.f3ef"]]},{"id":"1754554a.a1d67b","type":"ui_dropdown","z":"85b60300.bde1a","name":"","label":"Select left","tooltip":"","place":"Select option","group":"26c96747.7fadf8","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"red","type":"str"},{"label":"","value":"green","type":"str"},{"label":"","value":"white","type":"str"},{"label":"","value":"blue","type":"str"},{"label":"","value":"yellow","type":"str"},{"label":"","value":"purple","type":"str"},{"label":"black/off","value":"black","type":"str"}],"payload":"","topic":"","x":100,"y":260,"wires":[["13ea2c9d.bcead3"]]},{"id":"f9ae2712.a4f65","type":"ui_dropdown","z":"85b60300.bde1a","name":"","label":"Select right","tooltip":"","place":"Select option","group":"26c96747.7fadf8","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"red","type":"str"},{"label":"","value":"green","type":"str"},{"label":"","value":"white","type":"str"},{"label":"","value":"blue","type":"str"},{"label":"","value":"yellow","type":"str"},{"label":"","value":"purple","type":"str"},{"label":"black/off","value":"black","type":"str"}],"payload":"","topic":"","x":110,"y":380,"wires":[["5e73dc73.da797c"]]},{"id":"6938561e.81ae48","type":"ui_button","z":"85b60300.bde1a","name":"","group":"26c96747.7fadf8","order":7,"width":0,"height":0,"passthru":false,"label":"All Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"black","payloadType":"str","topic":"","x":350,"y":540,"wires":[["d89d4e0e.774e2","d46aad27.9f4a3"]]},{"id":"87648798.960898","type":"mqtt out","z":"c031c1c6.cec518","name":"","topic":"dog/anim","qos":"","retain":"","broker":"77293117.a8a4b","x":540,"y":180,"wires":[]},{"id":"28d51ab3.41a2de","type":"ui_button","z":"c031c1c6.cec518","name":"","group":"d22b4bfe.c74c28","order":4,"width":0,"height":0,"passthru":false,"label":"Rainbow","tooltip":"","color":"","bgcolor":"","icon":"","payload":"rainbow","payloadType":"str","topic":"","x":120,"y":140,"wires":[["87648798.960898"]]},{"id":"cef9c1ec.88028","type":"ui_button","z":"c031c1c6.cec518","name":"","group":"d22b4bfe.c74c28","order":5,"width":0,"height":0,"passthru":false,"label":"Gradient Blue to Red","tooltip":"","color":"","bgcolor":"","icon":"","payload":"blue_red","payloadType":"str","topic":"","x":160,"y":200,"wires":[["87648798.960898"]]},{"id":"e0e6c570.67a5b","type":"ui_button","z":"c031c1c6.cec518","name":"","group":"d22b4bfe.c74c28","order":6,"width":0,"height":0,"passthru":false,"label":"Gradient Green to Blue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"green_blue","payloadType":"str","topic":"","x":170,"y":260,"wires":[["87648798.960898"]]},{"id":"e86bae71.27991","type":"ui_button","z":"c031c1c6.cec518","name":"","group":"d22b4bfe.c74c28","order":8,"width":0,"height":0,"passthru":false,"label":"Scroll","tooltip":"","color":"","bgcolor":"","icon":"","payload":"scroll","payloadType":"str","topic":"","x":110,"y":360,"wires":[["87648798.960898"]]},{"id":"eae8d98f.a39b48","type":"ui_button","z":"c031c1c6.cec518","name":"","group":"d22b4bfe.c74c28","order":9,"width":0,"height":0,"passthru":false,"label":"Fade Out","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fade_out","payloadType":"str","topic":"","x":120,"y":420,"wires":[["87648798.960898"]]},{"id":"d8bf0295.c44548","type":"ui_colour_picker","z":"c031c1c6.cec518","name":"","label":"Single LED Color","group":"d22b4bfe.c74c28","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"true","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":150,"y":80,"wires":[["cc48d5f3.f2d368"]]},{"id":"cc48d5f3.f2d368","type":"delay","z":"c031c1c6.cec518","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":120,"wires":[["4f49a585.3ca144"]]},{"id":"4f49a585.3ca144","type":"function","z":"c031c1c6.cec518","name":"incremental position","func":"var nr = context.get(\"nr\")||0;\n\nnr = nr + 1;\nnr = nr % 11;\n\ncontext.set(\"nr\", nr);\n\nmsg.payload = \"\" + (nr + 3) + \" \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["fb37610b.620318"]]},{"id":"fb37610b.620318","type":"mqtt out","z":"c031c1c6.cec518","name":"eye leds","topic":"dog/leds/rgb/set","qos":"","retain":"","broker":"77293117.a8a4b","x":760,"y":80,"wires":[]},{"id":"d3707ddb.16381","type":"ui_dropdown","z":"c031c1c6.cec518","name":"","label":"All LEDs","tooltip":"","place":"Select option","group":"d22b4bfe.c74c28","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"red","type":"str"},{"label":"","value":"green","type":"str"},{"label":"","value":"white","type":"str"},{"label":"","value":"blue","type":"str"},{"label":"","value":"yellow","type":"str"},{"label":"","value":"purple","type":"str"},{"label":"black/off","value":"black","type":"str"}],"payload":"","topic":"","x":120,"y":20,"wires":[["fb37610b.620318"]]},{"id":"bfc6279b.cd7ca8","type":"function","z":"8e4a59bc.f589c","name":"set auto_eyes","func":"//var eyes = flow.get(\"auto_eyes\")||false;\n\nflow.set(\"auto_eyes\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["cdb3e6d2.89e128"]]},{"id":"bba088cb.043418","type":"ui_switch","z":"8e4a59bc.f589c","name":"","label":"winking eyes","tooltip":"","group":"ce1afaca.5036f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":80,"wires":[["bfc6279b.cd7ca8"]]},{"id":"c100bf28.e4f35","type":"ui_slider","z":"8e4a59bc.f589c","name":"","label":"eyes animation rate","tooltip":"","group":"ce1afaca.5036f8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":250,"y":160,"wires":[["c81f4347.28509"]]},{"id":"c81f4347.28509","type":"function","z":"8e4a59bc.f589c","name":"set eyes_animation_rate","func":"flow.set(\"eyes_animation_rate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[[]]},{"id":"a02519e7.b90e28","type":"delay","z":"8e4a59bc.f589c","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":false,"x":460,"y":280,"wires":[["88ada838.d14cc8"]]},{"id":"514d087d.0f5248","type":"function","z":"8e4a59bc.f589c","name":"rate dep. delay","func":"var eyes = flow.get(\"auto_eyes\")||false;\nvar rate = flow.get(\"eyes_animation_rate\")||0;\n\nif(eyes) {\n    msg.delay = 3000 + Math.floor( (120.0-rate)/100 * Math.random() * 60000);\n    msg.rate = rate;\n} else {\n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":280,"wires":[["a02519e7.b90e28"]]},{"id":"cdb3e6d2.89e128","type":"switch","z":"8e4a59bc.f589c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":80,"wires":[["88ada838.d14cc8"],["41638381.4ce21c"]]},{"id":"88ada838.d14cc8","type":"change","z":"8e4a59bc.f589c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"wink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":280,"wires":[["514d087d.0f5248","52baf2b8.1760cc"]]},{"id":"52baf2b8.1760cc","type":"mqtt out","z":"8e4a59bc.f589c","name":"","topic":"dog/anim","qos":"","retain":"","broker":"77293117.a8a4b","x":860,"y":620,"wires":[]},{"id":"ed8f38fa.8d99a8","type":"function","z":"8e4a59bc.f589c","name":"set auto_tie","func":"flow.set(\"auto_tie\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["f3636828.4ba198"]]},{"id":"c1408b85.396dc8","type":"ui_switch","z":"8e4a59bc.f589c","name":"","label":"tie animations","tooltip":"","group":"ce1afaca.5036f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":420,"wires":[["ed8f38fa.8d99a8"]]},{"id":"8feabd46.ba461","type":"ui_slider","z":"8e4a59bc.f589c","name":"","label":"tie animation rate","tooltip":"","group":"ce1afaca.5036f8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":230,"y":500,"wires":[["6896244d.0fd5cc"]]},{"id":"6896244d.0fd5cc","type":"function","z":"8e4a59bc.f589c","name":"set eyes_animation_rate","func":"flow.set(\"tie_animation_rate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[[]]},{"id":"f3636828.4ba198","type":"switch","z":"8e4a59bc.f589c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":420,"wires":[["a931351f.2185c8"],["9a574afe.f67288"]]},{"id":"ef916cce.e87be","type":"delay","z":"8e4a59bc.f589c","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"10","randomUnits":"seconds","drop":false,"x":240,"y":640,"wires":[["a931351f.2185c8"]]},{"id":"a9076ae9.d62f48","type":"function","z":"8e4a59bc.f589c","name":"rate dep. delay","func":"var eyes = flow.get(\"auto_tie\")||false;\nvar rate = flow.get(\"tie_animation_rate\")||0;\n\nif(eyes) {\n    msg.delay = 15000 + Math.floor( (120.0-rate)/100 * Math.random() * 90000);\n    msg.rate = rate;\n} else {\n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":720,"wires":[["ef916cce.e87be"]]},{"id":"6d5e8458.23e39c","type":"change","z":"8e4a59bc.f589c","name":"select pattern","rules":[{"t":"set","p":"payload","pt":"msg","to":"pattern","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":600,"wires":[["52baf2b8.1760cc","5cd3825d.92a5fc"]]},{"id":"56303e59.2e7c","type":"change","z":"8e4a59bc.f589c","name":"select animation","rules":[{"t":"set","p":"payload","pt":"msg","to":"animation","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[["a9076ae9.d62f48","52baf2b8.1760cc"]]},{"id":"5cd3825d.92a5fc","type":"delay","z":"8e4a59bc.f589c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":660,"wires":[["56303e59.2e7c"]]},{"id":"a931351f.2185c8","type":"function","z":"8e4a59bc.f589c","name":"pattern+anim","func":"var animations = [\"scroll\", \"fade_out\"];\nvar patterns = [\"rainbow\", \"blue_red\", \"green_blue\"];\n\nmsg.pattern = patterns[Math.floor(Math.random() * patterns.length)];\nmsg.animation = animations[Math.floor(Math.random() * animations.length)];\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["6d5e8458.23e39c"]]},{"id":"60b169f4.8d8238","type":"inject","z":"8e4a59bc.f589c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["c100bf28.e4f35","8feabd46.ba461"]]},{"id":"1b02c878.6fc8f8","type":"inject","z":"8e4a59bc.f589c","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["bba088cb.043418","c1408b85.396dc8"]]},{"id":"9a574afe.f67288","type":"change","z":"8e4a59bc.f589c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":580,"wires":[["ef916cce.e87be","5cd3825d.92a5fc"]]},{"id":"41638381.4ce21c","type":"change","z":"8e4a59bc.f589c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["a02519e7.b90e28"]]},{"id":"8aa37b51.d42038","type":"link in","z":"8e4a59bc.f589c","name":"","links":["693c2d3f.7bb334"],"x":35,"y":360,"wires":[["bba088cb.043418","c1408b85.396dc8"]]},{"id":"d89d4e0e.774e2","type":"change","z":"85b60300.bde1a","name":"set false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":540,"wires":[["693c2d3f.7bb334"]]},{"id":"693c2d3f.7bb334","type":"link out","z":"85b60300.bde1a","name":"","links":["8aa37b51.d42038"],"x":675,"y":540,"wires":[]},{"id":"d46aad27.9f4a3","type":"delay","z":"85b60300.bde1a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":500,"wires":[["67792db7.cd3fb4"]]}]